body,
html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: #282c34;
	/* background-image: linear-gradient(to right , #7A88FF, #7AFFAF); */
	/* background-image: linear-gradient(to bottom , #7A88FF, #7AFFAF); */
	/* background-image: linear-gradient(to bottom right, #7A88FF, #7AFFAF); */
	/* background-image: linear-gradient(45deg, #7A88FF, #7AFFAF); */
	/* background-image: repeating-radial-gradient(circle at 20% 40%,#99CCCC 20px, #7171B7 20px, #7171B7 40px, #CCCC99 40px, #CCCC99 60px, #4F9C9C 60px, #4F9C9C 80px, #99CCCC 80px, #99CCCC 100px); */
}

footer {
	text-align: center;
	color: #fff;
	/* height: 50px; */
	line-height: 50px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer a {
	color: #fff;
	cursor: pointer;
}

.homeHeader {
	height: 80px;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #eee;
}

#menu-bar:hover {
	bottom: 10px;
}

#menu-bar img {
	vertical-align: initial;
}

#menu-bar {
	position: absolute;
	/* bottom: 10px; */
	bottom: -50px;
	padding-top: 50px;
	text-align: center;
	width: 100%;
	transition: all .27s ease-out;
}

#menu-bar a {
	display: inline-block;
	text-decoration: none;
	margin: auto 6px;
	cursor: pointer;
}

#menu-bar a .title {
	display: none;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 5px;
}

#menu-bar a .title {
	display: block;
}

.frame-nav {
	width: 100%;
	height: 100%;
}



h1 {
	display: block;
	width: 100%;
	/* height: 100px; */
	/*渐变背景*/
	background-image: -webkit-linear-gradient(left, #3498db, #f47920 10%, #d71345 20%, #f7acbc 30%,
		#ffd400 40%, #3498db 50%, #f47920 60%, #d71345 70%, #f7acbc 80%, #ffd400 90%, #3498db);
	color: transparent;
	/*文字填充色为透明*/
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	/*背景剪裁为文字，只将文字显示为背景*/
	background-size: 200% 100%;
	/*背景图片向水平方向扩大一倍，这样background-position才有移动与变化的空间*/
	/* 动画 */
	animation: masked-animation 4s infinite linear;
}

@keyframes masked-animation {
	0% {
		background-position: 0 0;
		/*background-position 属性设置背景图像的起始位置。*/
	}

	100% {
		background-position: -100% 0;
	}
}
