<div class="htmleaf-container">
	<div class="cont_principal">
		<div class="cont_join  ">
			<div class="cont_letras">
				<p>LET 'S</p>
				<p>GET</p>
				<p>LOST</p>
			</div>
			<div class="cont_form_join">
				<h2>JOIN</h2>
				<p>用户名:</p>
				<input type="text" class="input_text" ng-model="username" />
				<p>密　码:</p>
				<input type="text" class="input_text" ng-model="password" />
				<p>验证码:</p>
				<input type="password" class="input_text" ng-model="pin" />
			</div>
			<div class="cont_join_form_finish">
				<h2>Finish <i class="material-icons">&#xE5CA;</i></h2>
			</div>
			<div class="cont_btn_join">
				<a ng-click="login()">Join</a>
			</div>
		</div>
	</div>
</div>
<footer>
	<p>
		<a>关于微笑话</a> | <a>About Vjoke</a> | <a>服务协议</a> | <a>隐私政策</a> | <a>版权所有</a>
	</p>
	<p>Copyright 2018 - 2022 Vjoke. All Rights Reserved</p>
	<p>
		<a href="http://www.miitbeian.gov.cn">京ICP备18055751号</a>
	</p>
</footer>
